*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Open Sans', sans-serif;
    position: relative;
    background-image: url("images/fondoforest.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.frame{
        background-color: rgb(3, 87, 55,0);
        width: 100vw;
        height:100vh;
       
        position: absolute;
    }

canvas {
    display:block;
    margin: auto;
    position: absolute;
    top: 150px;
    left: 0;
    z-index:1;
    background-image: url("images/fondoanimated.gif"); 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   
}

a {
    color: inherit;
  }
  
.start {
    text-decoration-line: none;
    display: inline-block;
    margin-top: 50px;
    margin-left: 350px;
    padding: 20px 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(222, 62, 46);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(111, 32, 24)
  }
.btn-button:hover {
    background-color: rgb(197, 59, 46);
}
.btn-button:active {
    background-color: rgb(222, 62, 46);
    box-shadow: 0 5px rgb(111, 32, 24); 
    transform: translateY(4px);
  }
 
.modal {
    /*background-color: rgb(226, 43, 125);*/
    position: absolute;
    margin: 0px;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index:99;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-winner {
    position: absolute;
    margin: 0px;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index:99;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.modal-content {
    position: absolute;
    width: 900px;
    height: 500px;
    /*transform: translate(-50%, -50%);*/
    color: #fff;
    background-color: rgba(255, 255, 255, 0.803);
    background-image: url("images/youlost.gif");
    background-repeat: no-repeat;
    background-position: stretch;    
    background-size: 100% 100%;
    padding: 50px;
    border-radius: 20px;
    margin: 30px;
    
    
}
.modal-content-winner {
    position: absolute;
    width: 900px;
    height: 600px;
    /*transform: translate(-50%, -50%);*/
    color: #fff;
    background-color: rgba(255, 255, 255, 0.803);
    background-image: url("images/youwin.gif");
    background-repeat: no-repeat;
    background-position: stretch;
    background-size: 100% 100%;
    padding: 50px;
    border-radius: 20px;
    margin: 30px;
    
}
img{
    padding: 0px 150px;
}*
.img-win{
 padding: 50px 150px 50px 250px;
}
p{
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    padding: 0px 250px;
}

.show-modal {
    /*background-color: blue;*/
    position: absolute;
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    z-index:99;
}

.audiocontrol{
    position: fixed;
    top: 50px;
    right: 50px;
}

